	<div class="footer-container row">
		<section class="col-md-3">
			<img src="img/logo-marca-quatro-rodas.png" alt="Logo Marca Quatro Rodas">
		</section>
		<article class="col-md-6">
			<section class="row">
				<ul>
					<li>FALE CONOSCO</li>
					<li>EXPEDIENTE</li>
					<li>POLÍTICA DE PRIVACIDADE</li>
					<li>ANUNCIE</li>
				</ul>
			</section>
			<section class="row">				
				<img src="img/logo-editora-abril.png" style="margin-bottom: 12px;" alt="Logo marca Editora Abril">
				<span style="font-size:0.7em;">COPYRIGHT © 2015 - EDITORA ABRIL S.A. - TODOS OS DIREITOS RESERVADOS.</span>				
			</section>
		</article>
	</div>
