<div class="header-container">
<nav class="header-bar">
		<a href="#"><img id="btn-search" src="img/icon_search.png" alt="icone de menu"><img src="img/logo-header-desktop.png"  align="center" alt="Logo Quatro Rodas" class="header-logo"></span></a>
		<a href="#" id="btn-menu"><img src="img/icon_menu.png" alt="icone de menu"></span></a>
	<ul class="header-menu">
		<li>CARROS</li>
		<li>TESTES</li>
		<li>NOTÍCIAS</li>
		<li>AUTO-SERVIÇO</li>
		<li>GUIA DE COMPRAS</li>
		<li>TABELA FIPE</li>
		<li>ASSINE</li>
		<li><input class="form-control"  type="search" placeholder="pesquisar"></li>
	</ul>
</nav>
<nav class="header-sub-menu">
	<div class="acessados" style="background-image:url('img/acessados.png')">Acessados</div>
	<ul>
		<li>SALÃO DO AUTOMOVEL</li>
		<li>RENEGADE</li>
		<li>NOVO SANDERO</li>
		<li>NOVO FOX</li>
		<li>NOVO KA</li>
		<li>HB20</li>
		<li>DUSTER</li>
		<li>GOLF</li>
		<li>COROLLA</li>
		<li>CIVIC</li>
		<li>IA-ZI</li>
	</ul>
</nav>
</div>