
<section class="content">
	<section class="banner-topo" >
		<img src="img/banner.png" alt="Banner Anúncio">
	</section>

	<nav ng-include="'views/header.html'"></nav>
	<nav id="menu-of-canvas">
		<section>
			<ul>
				<li>CARROS</li>
				<li>TESTES</li>
				<li>NOTÍCIAS</li>
				<li>AUTO-SERVIÇO</li>
				<li>GUIA DE COMPRAS</li>
				<li>TABELA FIPE</li>
				<li>TABELA FIPE</li>
			</ul>
		</section>
	</nav>
	<section class="destaque-content row">
		<article class="destaque-principal col-md-6" style="background-image: url('img/arte-qr-683-abril.jpeg');">
			<div class="row">
				<ul>
					<li style="list-style-image: url('img/list-style.png') !important;">CARROS GRANDES</li>
				</ul>
				<h3>QUATRO RODAS de junho: novo Cruze enfrenta o novo Civic - e muito mais!</h3>
			</div>
		</article>
		<article class="destaque-secundario col-md-6">
			<section class="row">		
				<div class="col-md-3 info" style="background-image: url('img/ford-motor-ecoboost.jpeg');">
					<div class="row">
						<ul>
							<li style="list-style-image: url('img/list-style.png') !important;">LAMÇAMENTOS</li>
						</ul>
						<h4>Fiesta terá 1.0 com ,maior torque emais potente do brasil.</h4>
					</div>
				</div>
					
				<div class="col-md-3 info" style="background-image: url('img/revisao.jpeg');">
					<div class="row">
						<ul>
							<li style="list-style-image: url('img/list-style.png') !important;">AUTO SERVIÇOS</li>
						</ul>
						<h4>As vantagens das revisões pagas no ato da compra. Bom para a fabrica e melhor ainda para você.</h4>
					</div>
				</div>
			</section>
			<section class="row">		
				<div class="col-md-3 info" style="background-image: url('img/paulo-campo-grande.jpeg');">
					<div class="row">
						<ul>
							<li style="list-style-image: url('img/list-style.png') !important;">RANKING DE TESTES</li>
						</ul>
						<h4>Os 25 carros mais econômicos testados por QUATRO RODAS</h4>
					</div>
				</div>
					
				<div class="col-md-3 info" style="background-image: url('img/onibus-teb.jpeg');">
					<div class="row">
						<ul>
							<li style="list-style-image: url('img/list-style.png') !important;">MOBILODADE</li>
						</ul>
						<h4>Projeto de ônibus “AÉREO” pode ser opição para aliviar o trânsito.</h4>
					</div>
				</div>
			</div>
		</article>
	</section>
		<article class="noticias-content row">
			<section class="row">
				<div class="col-md-3">
					<div class="noticias" style="background-image: url('img/mitsubishi-quatro-rodas.jpeg');">
						<div class="row">
							<ul>
								<li style="list-style-image: url('img/list-style.png') !important;">RANKING DE TESTES</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<h4>Os bons tempos da Mitsubishi na década de 90</h4>
						<p>Apesar de ainda ter boa representatividade no mercado e uma linha de SUVs e picapes de...</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="noticias" style="background-image: url('img/fiat-toro-com-cobertura-na-cacamba-quatro-rodas.jpeg');">
						<div class="row">
							<ul>
								<li style="list-style-image: url('img/list-style.png') !important;">SEGREDO</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<h4>Flagra de "mula" da Fiat Toro pode indicar novidades...</h4>
						<p>
						Mais de três meses após seu lançamento, protótipos camuflados da Fiat Toro continuam...
						</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="noticias" style="background-image: url('img/comparativo-quatro-rodas.jpeg');">
						<div class="row">
							<ul>
								<li style="list-style-image: url('img/list-style.png') !important;">COMPARATIVO</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<h4>Ford Ranger x Chevrolet S10 x Toyota Hilux</h4>
						<p>
						O segmento de picapes médias cresceu 30% nos últimos cinco anos e nem mesmo a crise da..
						</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="noticias" style="background-image: url('img/pecas-plasticas-quatro-rodas.jpeg');">
						<div class="row">
							<ul>
								<li style="list-style-image: url('img/list-style.png') !important;">CORREIO TÉCNICO</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<h4>Para que servem as peças plásticas na frente das rodas...</h4>
						<p>
						O Corolla, assim como outros carros, vem equipado com peças plásticas tipo para-barro...
						</p>
					</div>
				</div>
			</section>	
		</article>
		<footer ng-include="'views/footer.html'"></footer>
	</section>